/* Morning Theme (6 AM - 12 PM) */
.morning {
    background-color: #FFFAF0;
    color: #333;
}

/* Afternoon Theme (12 PM - 6 PM) */
.afternoon {
    background-color: #FFE4B5;
    color: #222;
}

/* Evening Theme (6 PM - 9 PM) */
.evening {
    background-color: #FFD700;
    color: #111;
}

/* Night Theme (9 PM - 6 AM) */
.night {
    background-color: #2F4F4F;
    color: #FFF;
}
